name: Automation Pipeline

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install newman

      - name: Run API Smoke Tests
        run: newman run src/test/api/api-smoke-tests.json
  
      - name: Start Test API Server
        run: |
          node server.js &
          sleep 3

      - name: Run Load Tests
        run: node src/test/api/loadTest.js

      - name: Upload Load Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: load-test-reports
          path: docs/
          
      - name: Run Selenium Tests
        run: mvn test
