name: Automation Pipeline

permissions:
  contents: write

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install newman

      - name: Run API Smoke Tests
        run: newman run src/test/api/api-smoke-tests.json
  
      - name: Start Test API Server
        run: |
          node server.js &
          sleep 3

      - name: Run Load Tests
        run: node src/test/api/loadTest.js

      - name: Commit report to repo
        if: github.ref == 'refs/heads/main'   # only run on pushes to main
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add docs/index.html
          git diff --staged --quiet || git commit -m "Update load test report"
          git push origin HEAD:main
          
      - name: Run Selenium Tests
        run: mvn test
